.feature-box {
   
    background-color: rgba($color-white, 0.65);
    font-size: $main-size * 1.3;
    border-radius: $border-radius * 0.5;
    box-shadow: 0 2rem 3rem rgba($color-white, 0.15);
    padding: 2rem;
    transition: all 1s;

    .fa-globe-europe {
        font-size: $main-size * 2;
        color: $color-primary;
    }
    &:hover {
        transform: translateY(-1rem) scale(1.05);
        color: $color-redish;
        .heading-moto {
            color: $color-primary;
        }
        .fa-globe-europe {
            color: $color-black;
        }
    }

    .p__text {
        line-height: 1rem;
        line-height: 1.4rem;
         font-size: $main-size *0.9;
    }
    .heading-moto {
        font-size: $main-size * 2;
        font-family: $font-nautigal;
        color: $color-redish;
        line-height: 1.1;
    }
}

